<ul>
<% if @ondas && !@ondas.empty? %>
  <h1><%= @user.username %>'s profile</h1>
  <h2> They are <%= @user.bio ? @user.bio : "Very mysterious"  %></h2>
  <% @ondas.reverse_each do |onda| %>
    <li class="Rola">
      <a href="/users/<%= User.get(onda.user_id).username %>"><%= User.get(onda.user_id).username %></a>:
      <a href="<%= onda.link %>">Rola</a>
      Song: <%= onda.song %>
      Artist: <%= onda.artist %>
      Message: <%= onda.message %>
      Tags: <ul><% onda.tags.each do |tag|%>
        <li><%= tag.name %></li>
      <% end %></ul>
    </li>
  <% end %>
<% end %>
</ul>
