<section class="new-post">
  <form action="/onda/new" method="post">
    Rola: <input class="new-post-input" type="url" name="link">
    <input class="new-post-input" type="text" name="message" placeholder="Why are you sharing this, m8?">
    Genres: <input class="new-post-input" type="text" name="tag">
    <input type="submit" value="post">
  </form>
</section>


<ul>
<% if @ondas && !@ondas.empty? %>
  <% @ondas.reverse_each do |onda| %>
    <section class="post">
    <li class="Rola">
      <a href="/users/<%= User.get(onda.user_id).username %>"><%= User.get(onda.user_id).username %></a>:
      <a href="<%= onda.link %>">Rola.</a><br />
      Message: <%= onda.message %>
      Tags: <ul class="tag-container"><% onda.tags.each do |tag|%><li class="tags"><a class="tag-text" href="/onda/<%= tag.name %>"><%= tag.name %></a></li>
      <% end %></ul>
    </li>
    </section>
  <% end %>
<% end %>
</ul>
